/* You can add global styles to this file, and also import other style files */
@import "~bootstrap3/dist/css/bootstrap.css";
h1{
  font-family: 'Diplomata', cursive;
}
h1.typing{
  font-size:72px;
}
.typing{
  overflow:hidden;
  white-space:nowrap;
  width:10.5em;
  animation: type 4s steps(30), blink 1s linear infinite; 
  margin-left:28%;padding:0;
  border-right: .1em solid;
  /* text-align:center; */
}

@keyframes type{
  from{width:0}
}
@keyframes blink{
  0%,100%{border-color:transparent}
  50%{border-color:green}
}
@media only screen and (max-width:991px) and (min-width:768px){
  h1.typing{
    font-size:40px;
  }
  .typing{
    margin-left:20%;
  }
}
@media only screen and (max-width:767px) and (min-width:481px) {
  h1.typing{
    font-size:30px;
  }
  .col-md-6{
    margin:0px 40px 0px 40px;
    
  }
  .typing{
    margin-left:22%;
  }
}
@media only screen and (max-width:480px) {
  h1.typing{
    font-size:20px;
  }
  .typing{
    margin-left:20%;
  }
  .col-md-6{
    margin:0px 20px 0px 20px
  }
}